<%= render 'layouts/driver_nav'%>
<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
     
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <div class='form-group'>
    <%= f.label :sex, "Sex", class: 'control-label col-lg-4' %>
    <div class='col-lg-6'>
      <label class='radio-inline'><%= radio_button(@user.class.to_s.downcase,'sex',0)%>Male</label>
      
      <label class='radio-inline'><%= radio_button(@user.class.to_s.downcase,'sex',1)%>Female</label>
    </div>
  <br>
</div>

      <%= f.label :phone %>
      <%= f.email_field :phone, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
   

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :bond %>
      <%= f.email_field :bond, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes",  class: "btn btn-primary" %>
    <% end %>

  </div>
</div>