<%= content_for :user_nav do %>
<ul class='nav nav-pills navbar-nav navbar-left '>
          <li role='presentation'>
              <a class='dropdown-toggle' data-toggle='dropdown'>
              Driver Account
              <span class='caret'></span>
              </a>
              <ul class='dropdown-menu'>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Setting", edit_driver_path(current_user) %></li>
                  <li><%= link_to "To take order", to_take_order_path %></li>
                  <li><%= link_to "Taken order",  taken_order_path %></li>
                  <li><%= link_to "Finished order", finished_order_path %></li>
             </ul>
             </li>
            
<% end %>