<%= render 'layouts/time'%>
<div class='row'>
  <%= form_for(@key ,url:{controller: "#{@controller}",action: "#{@action}"}, method:'get',html: {class: "form-inline"} ) do |f|%>
    <div class='row'>
      
        <div class='form-group'>
          
          <div class='input-group col-lg-12'>
            <div class="input-group date form_datetime"  data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <span class="input-group-addon">Time</span>
                    <%= f.text_field :time, class:'form-control', readonly: true%>
                    
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
          </div>
        </div>
        
     
      
        <div class='form-group'>
    
    <div class='input-group col-lg-12'>
      <span class='input-group-addon'>Destination</span>
      <%= f.text_field :destination, class:"form-control"%>
    </div>
    
</div>
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  
  

  <%end%>
</div>
<div class='row'>
<table class='table'>
  <thead>
    <tr class='text-center'>
      <th class='text-center'>No</th>
      <th class='text-center'>Number</th>
      <th class='text-center'>Current Number</th>
      <th class='text-center'> Time</th>
      <th class='text-center'>Destination</th>
      <% if logged_in? %>
      <th class='text-center'>Operations</th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr class='text-center'>
        <td><%= order.id %></td>
        <td><%= order.number %></td>
        <td><%= order.cur_number%></td>
        <td><%= order.time%></td>
        <td><%= order.destination%></td>
        <td>
          <% if get_user_type == 'student'%>
        <div class='btn-group' role='group'>
            <% if can_join(order) %>
                <%= link_to 'Join', "/order/#{order.id}/join", method: 'patch', class: 'btn btn-default'%>
            <%end%>
            <% if can_edit(order) %>
                <%= link_to 'Edit', "/order/#{order.id}/edit", method: 'get', class: 'btn btn-default'%>
            <%end%>
            <% if can_delete(order) %>
              <%= render partial: 'layouts/modal', 
                locals: {order: order,button_name: 'Delete', cur_url: "/order/#{order.id}/delete", cur_method: 'delete'}%>
            
            <%end%>
            <% if can_quit(order) %>
              <%= render partial: 'layouts/modal', 
                locals: {order: order,button_name: 'Quit', cur_url: "/order/#{order.id}/quit", cur_method: 'patch'}%>
              
            <% end%>
            <%if accepted order %>
              <%= link_to 'Driver', "/order/#{order.id}/driver", method: 'get', class: 'btn btn-default'%>
            <%end%>
        </div>
<% elsif get_user_type == 'driver' %>

<div class='btn-group' role='group'>
            <% if can_accept(order) %>
                <%= render partial: 'layouts/modal', 
                  locals: {order: order,button_name: 'Take', cur_url: "/order/#{order.id}/take", cur_method: 'patch'}%>
                
            <%end%>
            
</div>
<% elsif get_user_type == 'manager'%>

<%else%>

<%end%>
        </td>
      </tr>    
    <% end %> 
  </tbody>
  <tfoot>
     
  </tfoot>
   
  
</table>
</div>
<%= will_paginate @orders ,renderer: BootstrapPagination::Rails%>